div.intro {
  position: relative;
  margin: 5%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  text-align: left;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
  background-color: #132693;
}

/* Style the accordion panel. hidden by default */
.panel {
  margin: 0 10px;
  padding: 0 10px;
  background-color: #313131;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* _  _ ____ ____ ____ ____ _ _ _    ____ ____ ____ ____ ____ _  _      */
/* |\ | |__| |__/ |__/ |  | | | |    [__  |    |__/ |___ |___ |\ |     */
/* | \| |  | |  \ |  \ |__| |_|_|    ___] |___ |  \ |___ |___ | \|    */

@media screen and (max-width: 800px) {
  div.intro {
    width: 80vw;
    float: none;
    max-width: none;
    position: relative;
    top: inherit;
    transform: none;
  }
}
